- @page_title = "Edit a District"
- content_for :javascript do
  = javascript_include_tag 'edit_sketch.js', 'gallery.js'
#edit_sketch_page
  #picture_frame
    #stage
    = form_for @sketch do |f|
      = hidden_field_tag :sketch_token, @sketch.token
      = hidden_field_tag :combined_code, @sketch.district.combined_code
      = f.text_field :title, :placeholder => "District Name Goes Here"
      = f.text_field :byline, :placeholder => "Your Name"
      = hidden_field_tag :sketch_paths, @sketch.paths
      %button#save_drawing(type:submit) Update
    #population_estimate
      %p#population_label Population
      %p#population_value 0
    %button#undo_last_path(type:button) Undo
    %button#clear_all_paths(type:button) Clear
    .clear
  %section#about_the_app
    %h1 About
    %p
      :markdown
        Congressional districts sometimes have weird, even non-sensical
        shapes! Why not have some fun with them?

        You are currently editing a drawing.

        Want to [create a new drawing](#{new_sketch_path})?
  = render :partial => 'gallery'
