- @page_title = "Edit a District"
- content_for :javascript do
  = javascript_include_tag 'edit_sketch.js'
#edit_sketch_page
  #picture_frame
    #stage
    %button#undo_last_path(type:button) Undo
    %button#clear_all_paths(type:button) Start Over
    #welcome_dialog(title="Can you better draw a district?")
      :markdown
        Click and drag to **draw shapes** on the map.

        Scroll down to title and save your drawing.
  #below_stage
    = form_for @sketch do |f|
      = hidden_field_tag :sketch_token, @sketch.token
      = hidden_field_tag :combined_code, @sketch.district.combined_code
      = hidden_field_tag :sketch_paths, @sketch.paths
      #brass_plate
        = f.text_field :title, :placeholder => fun_title(@sketch.district)
        .by by
        = f.text_field :byline, :placeholder => fun_name()
      %button#save_drawing(type:submit) Update Drawing
  .clear
  %section#population_estimate
    %h1 Population
    %p#population_value= number_with_delimiter(@sketch.population)
  %section#about_the_app
    %h1 About
    %p
      :markdown
        Congressional districts sometimes have weird, even non-sensical shapes!
        Here you can have some fun with them. Pick a district, tag it (graffiti
        style), and give it a killer name. When you're done, save it to the
        gallery.
