- @page_title = "Sketches"
%section#main
  %h1 Sketches
  - if @sketches.empty?
    %p No results found.
  - else
    %table
      %thead
        %th Token
        %th.editable Editable?
        %th.reviewed Reviewed?
        %th.appropriate Appropriate?
        %th.gallery Gallery?
        %th Title
        %th Byline
        %th District
        %th Updated At
      %tbody
        - @sketches.each do |sketch|
          %tr
            %td.token= link_to(sketch.token, sketch_path(sketch))
            %td.editable= boolean_markup(sketch.editable)
            %td.reviewed= boolean_markup(sketch.reviewed)
            %td.appropriate= boolean_markup(sketch.appropriate)
            %td.gallery= boolean_markup(sketch.gallery)
            %td= sketch.title
            %td= sketch.byline
            %td= sketch.district.combined_code
            %td.timestamp= sketch.updated_at
