- @page_title = "Create New District"
- content_for :javascript do
  = javascript_include_tag 'new_sketch.js'
#new_sketch_page
  #picture_frame
    #stage
    = form_for @sketch do |f|
      = hidden_field_tag :sketch_token, @sketch.token
      = hidden_field_tag :combined_code, @sketch.district.combined_code
      = f.text_field :title, :placeholder => fun_title(@sketch.district)
      = f.text_field :byline, :placeholder => fun_name
      %button#save_drawing(type:submit) Save
    #population_estimate
      %p#population_label Population
      %p#population_value 0
    %button#undo_last_path(type:button) Undo
    %button#clear_all_paths(type:button) Clear
    .clear
  %section#about_the_app
    %h1 About
    :markdown
      Congressional districts sometimes have weird, even non-sensical
      shapes! Here you can have some fun with them.

      We've given you a random district. Tag it and name it. After you save
      it, we'll give you a link to share with your friends. If you are
      lucky, it might also show up in the gallery, too!
  = render :partial => 'gallery'
