- @page_title = "%s by %s" % [@sketch.title, @sketch.byline]
- content_for :javascript do
  = javascript_include_tag 'show_sketch.js'
#show_sketch_page
  #picture_frame
    #stage
    %form
      = hidden_field_tag :sketch_token, @sketch.token
      = hidden_field_tag :combined_code, @sketch.district.combined_code
      = hidden_field_tag :sketch_paths, @sketch.paths
    #sketch_title= @sketch.title
    #sketch_byline= @sketch.byline
    #population_estimate
      %p#population_label Population
      %p#population_value= number_with_delimiter(@sketch.population)
  .clear
  = render :partial => 'bottom'
