- @page_title = "%s by %s" % [@sketch.title, @sketch.byline]
- content_for :javascript do
  = javascript_include_tag 'show_sketch.js'
#show_sketch_page
  #picture_frame
    #stage
    %form
      = hidden_field_tag :sketch_token, @sketch.token
      = hidden_field_tag :combined_code, @sketch.district.combined_code
      = hidden_field_tag :sketch_paths, @sketch.paths
    %span#sketch_title= @sketch.title
    %span#sketch_byline= @sketch.byline
    #population_estimate
      %p#population_label Population
      %p#population_value= number_with_delimiter(@sketch.population)
    .clear
  %section#about_the_app
    %h1 About
    %p
      :markdown
        Congressional districts sometimes have weird, even non-sensical
        shapes! Why not have some fun with them?
    %p
      Share this drawing by using this link:
      %br
      = link_to(sketch_url(@sketch), sketch_path(@sketch))
    %p
      :markdown
        Want to [create a new drawing](#{new_sketch_path})?
  = render :partial => 'gallery'
