<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv.js" %>
    <![endif]-->
    <%= stylesheet_link_tag 'yui/reset', 'jquery.svg', 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="body_wrapper">
      <div id="main_wrapper">
        <%= render :partial => 'layouts/header' %>
        <div id="center_wrapper">
          <%= yield %>
        </div>
      </div>
      <%= render :partial => 'layouts/footer' %>
    </div>
    <%= javascript_include_tag(
      'lib/jquery-1.4.4.min.js',
      'lib/jquery.svg.min.js',
      'lib/jquery.svganim.min.js',
      'lib/jquery.hotkeys.js',
      'district_map.js',
      'application.js',
      :cache => 'bundles/code') %>
    <%= javascript_include_tag(
      'data/states.js',
      'data/districts.js',
      :cache => 'bundles/data') %>
    <%= content_for :javascript %>
  </body>
</html>
